body{
    margin: 200px;
    margin-top: 100px;
    background-color: aliceblue;
}
div{
    background-color: rgb(245, 185, 108);
}
section{
    background-color: aquamarine;
    padding: 30px;
}
h2, 
h1{
    text-align: center;
}