
body{
    margin-left: 150px;
    margin-right: 250px;
}
h2{
    color: brown;
}
h3{
    color: blue;
}
h4{
    color: rgb(56, 145, 21);
}
div{
    width: 1000px;
    background-color: antiquewhite;
}
